@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 151 47% 11%; 
    --foreground: 86 42% 88%; 
    --card: 114 24% 27%;
    --card-foreground: 86 42% 88%;

    --popover: 114 24% 27%;
    --popover-foreground: 86 42% 88%;
    --primary: 86 42% 88%;
    --primary-foreground: 151 47% 11%;
    --secondary: 130 15% 49%;
    --secondary-foreground: 86 42% 88%;
    --muted: 130 15% 49%;
    --muted-foreground: 126 14% 73%;
    --accent: 126 14% 73%;
    --accent-foreground: 151 47% 11%;
    --destructive: 0 75% 45%; 
    --destructive-foreground: 0 0% 100%;

    --border: 130 15% 49%;
    --input: 114 24% 27%;
    --ring: 86 42% 88%;

    --radius: 1.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #6B9071;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #AEC3B0;
  }
}